body {
  margin: 0;
  background: #ddd;
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  overflow: hidden;
}

